<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>_Layout2</title>
</head>
<body>
    @RenderBody()
    <hr>
    <p>@ViewBag.Veri1</p>
    <p>@ViewBag.Veri12</p>
    <p>@ViewData["Veri2"]</p>
    <p>@ViewData["Veri22"]</p>


</body>
</html>